*{
    padding: 0px;
    margin: 0px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #9fc5f8;
    width: 100%;
    height: 60px;
    align-items: center;
    margin-bottom: 30px;
    
}


#title{
    color: white;
    font-family: cursive;
    margin-left: 400px;
}
#list1{
    margin-right: 400px;
    display: flex;
    
}
#Burbank ,#chicago,#dallas{
    margin-left: 40px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
}
.head{
    display: flex;
    justify-content: space-around;
}
#selecttemp{
    height: 35px;
    width: 50px;
}
#title2{
    font-family: 'Lucida Sans';
    font-family: cursive;
    margin-right: 500px;
}
#show{
    font-size: 1.2rem;
    font-family: cursive;
}
#hr{
    margin-top: 18px;
    width:960px;
   
    margin-bottom: 20px;
    
}
.boxes-container{
    
    display: flex;
    margin-bottom: 15px;
    width: 70%;

}
.box1, .box2 , .box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    height: 340px;
    width: 250px;
    margin-right: 20px;
    
}
 .box4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    height: 340px;
    width: 250px;
    
 }
#some-rain{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-bottom: 20px;

    
}
#day{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: cursive;
}
#stutus1{
    font-size: 1.2rem;
    font-family: cursive;

}
#degrees{
    display: flex;
    margin-top: 20px;
}
.highTemp {
    font-size: 28px;
    color: red;
    font-family: cursive;
    font-weight: bold;
}
.symbolc{
    color: red;
    font-family: cursive;
}
.symbolc2{
    color: #2b78e4;
    font-family: cursive;
}
.lowTemp{
    font-size: 28px;
    margin-left: 80px;
    font-family: cursive;
    color: #2b78e4;
}
.alert-box{
    display: flex;
    border: 2px solid black;
  
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 130px;
    width: 70%;
    align-items: center;
    position: fixed;
   margin: 0 auto;
   bottom: 13%;
}
#cookie-img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 20px;
}
#content{
    font-size: 1.2rem;
    margin-right: 120px;
    
}
#accept-button{
    height: 30px;
    width: 90px;
    font-family: cursive;
    background-color: #9fc5f8;
    cursor: pointer;
}
